<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <link href="./style/style.css" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->

    <link href="https://fonts.googleapis.com/css?family=Ibarra+Real+Nova|Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Scrollbar Custom CSS -->
    <title>peelr</title>
</head>

<body>
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">peelr</a>
    </div>
  </nav>
 
    {{{body}}}
</body>

</html>