 <div class="row z-depth-1" id="welcome-banner">
    <div class="col s12 banner-header"><h1 class="center banner-text">PEEL THE ONION</h1></div>
    <a class="center z-depth-1 btn-floating btn-large waves-effect waves-light scrapebuttn teal lighten-2" id="scrapeButton"><i class="material-icons">power_settings_new</i></a>
</div>
<div class="container" id="articlecont">
{{> articlerow }}
</div>

<script src = "./app/index.js"></script>